body{
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
}

.container h1 a{
    text-decoration: none;
    color: white;
}

.container h1 a:hover{
    text-decoration: underline 1px;
    color: blue;
}

#sourceCode{
    text-align: center;
    background-color: cadetblue;
}

#primaryHeader{
    background-color: burlywood;
}

#secondaryHeader{
    background-color: burlywood;
}

.btn{
    background-color: blue;
    border-radius: 6px;
}

.marks{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.marks:hover{
    text-decoration: underline 1px;
    color: blue;
}